@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500;700&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing:border-box;
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main : hsl(217, 54%, 11%);  /*(main BG)*/
    --very-dark-blue-card : hsl(216, 50%, 16%);  /*(card BG)*/
    --very-dark-blue : hsl(215, 32%, 27%);  /*(line)*/
    --white: hsl(0, 0%, 100%);
    --font-size: 1.125rem; /*(paragraph)*/
    font-family:'Outfit';
}

h1,h2,h3,p{
    overflow-wrap: break-word;
}

a{
    text-decoration:none;
    color:inherit;
}

body{
    padding:0;
    margin:0;
    height:100vh;
    background-color:var(--very-dark-blue-main);
    padding:1.5rem;
    display:grid;
    place-items:center;
}

article{
    padding:1.5rem;
    background-color: var(--very-dark-blue-card);
    border-radius:0.9375rem;
    max-width:21.875rem;
}

.img-container{
    position:relative;
    cursor:pointer;
    transition: 3.05s ease-in-out;
}

.equil{
    width:100%;
    border-radius:10px;
}

.img-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    width:100%;
    height:99%;
    border-radius:0.625rem;
    display:none;
}
.eye{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:10;
}

.img-container:hover .img-overlay{
    display:block;
    background: rgba(0, 255, 255,0.4);
    opacity:0.5;
}


h1{
    color:white;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    transition: .3s ease-in-out;
}

h1:hover{
    color:var(--cyan)
}

.description p{
    color:var(--soft-blue);
    line-height:1.5;
}

.price-container{
    display:flex;
    justify-content: space-between;
}

.price{
    color:var(--cyan);
    display:flex;
    align-items:center;
    gap:5px;
    font-weight:600;
    animation: bounce 1s linear infinite;
}

@keyframes bounce{
    from{transfrom:translate(0,-1);}
    to{transform:translate(0,5px);}
}

.days{
    color:var(--soft-blue);
    display:flex;
    align-items:center;
    gap:0.3125rem;
}

hr{
    background-color: var(--soft-blue);
    border-width: 0.03125rem;
    height: 0.03125rem;
}

.creator{
    display:flex;
    gap:0.5rem;
    align-items:center;
}

.avatar{
    width:2rem;
    border:2px solid white;
    border-radius:50%;
}

.creator p{
    font-weight: 300;
    color:var(--white);
    cursor:pointer;
    display:inline;
    transition: .3s ease-in-out;
}

span{
    color:var(--soft-blue)
}

.creator p:hover{
    color:var(--cyan);
}
